*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --side-width: max(30vw, 400px);
  --side-height: 100vh;
}

body {
  display: flex;
}

#side {
  flex: 0 0 var(--side-width);
  background-image: url("../imgs/side_image.jpg");
  background-size: var(--side-width) var(--side-height);
  width: var(--side-width);
  height: var(--side-height);
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

#logo {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 15vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#side p {
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

#side a {
  color: inherit;
}

#logo > img {
  height: 7rem;
}

#logo > p {
  font-size: 5rem;
  color: white;
}

#main {
  flex: auto;
  background-color: #F9FAFB;
  height: 100%;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#e1,
#e2,
#e3 {
  flex: 1;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding-left: 3vw;
  padding-top: 40px;
  padding-bottom: 40px;
}

#e1 {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  max-width: 60ch;
}

#e2 {
  background-color: white;
  padding-top: 20px;
  box-shadow: 0px 3px 5px rgb(156, 156, 156);
}

form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-top: 20px;
}

form > div {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

form > div > div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
}

input {
  font-size: 1rem;
  width: 250px;
}

#e3 > button {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(62, 98, 62);
  color: white;
  border: none;
  padding: 15px 60px;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 550;
}

#e3 a {
  text-decoration: none;
  color: rgb(62, 98, 62);
}